possible questions 
- is there a connection between ratings and profits A - NO. correlation coefficient of 0.18 means a very slight positive correlation. this means we can more or less disregard ratings when considering what kind of movie to make.
- is there a connection between "star power" and profits
- what genres are best performing (by rating, and by profits) - 
- what languages are best performing (by rating, and by profits)
- who should we hire to make our movies (eg who has the most high performing movies?)

In [1]:
# import relevant modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import patoolib

In [12]:
# extract the files
patoolib.extract_archive('.\zippedData\\imdb.title.basics.csv.gz', outdir='Movie_Data')
patoolib.extract_archive('.\zippedData\\imdb.name.basics.csv.gz', outdir='Movie_Data')
patoolib.extract_archive('.\zippedData\\imdb.title.ratings.csv.gz', outdir='Movie_Data')
patoolib.extract_archive('.\zippedData\\imdb.title.principals.csv.gz', outdir='Movie_Data')
patoolib.extract_archive('.\zippedData\\tn.movie_budgets.csv.gz', outdir='Movie_Data')
patoolib.extract_archive('.\zippedData\\imdb.title.crew.csv.gz', outdir='Movie_Data')

# read data into dataframes
title_basics = pd.read_csv('.\Movie_Data\\imdb.title.basics.csv')
name_basics = pd.read_csv('.\Movie_Data\\imdb.name.basics.csv')
title_rate = pd.read_csv('.\Movie_Data\\imdb.title.ratings.csv')
title_prin = pd.read_csv('.\Movie_Data\\imdb.title.principals.csv')
budgets = pd.read_csv('.\Movie_Data\\tn.movie_budgets.csv')
title_crew = pd.read_csv('.\Movie_Data\\imdb.title.crew.csv')

patool: Extracting .\zippedData\imdb.title.basics.csv.gz ...
patool: running ""C:\Program Files\Git\usr\bin\gzip.EXE"" -c -d -- .\zippedData\imdb.title.basics.csv.gz > Movie_Data\imdb.title.basics.csv4
patool:     with shell=True
patool: ... .\zippedData\imdb.title.basics.csv.gz extracted to `Movie_Data'.
patool: Extracting .\zippedData\imdb.name.basics.csv.gz ...
patool: running ""C:\Program Files\Git\usr\bin\gzip.EXE"" -c -d -- .\zippedData\imdb.name.basics.csv.gz > Movie_Data\imdb.name.basics.csv4
patool:     with shell=True
patool: ... .\zippedData\imdb.name.basics.csv.gz extracted to `Movie_Data'.
patool: Extracting .\zippedData\imdb.title.ratings.csv.gz ...
patool: running ""C:\Program Files\Git\usr\bin\gzip.EXE"" -c -d -- .\zippedData\imdb.title.ratings.csv.gz > Movie_Data\imdb.title.ratings.csv4
patool:     with shell=True
patool: ... .\zippedData\imdb.title.ratings.csv.gz extracted to `Movie_Data'.
patool: Extracting .\zippedData\imdb.title.principals.csv.gz ...
patool: running ""C:\Program Files\Git\usr\bin\gzip.EXE"" -c -d -- .\zippedData\imdb.title.principals.csv.gz > Movie_Data\imdb.title.principals.csv4
patool:     with shell=True
patool: ... .\zippedData\imdb.title.principals.csv.gz extracted to `Movie_Data'.
patool: Extracting .\zippedData\tn.movie_budgets.csv.gz ...
patool: running ""C:\Program Files\Git\usr\bin\gzip.EXE"" -c -d -- .\zippedData\tn.movie_budgets.csv.gz > Movie_Data\tn.movie_budgets.csv4
patool:     with shell=True
patool: ... .\zippedData\tn.movie_budgets.csv.gz extracted to `Movie_Data'.
patool: Extracting .\zippedData\imdb.title.crew.csv.gz ...
patool: running ""C:\Program Files\Git\usr\bin\gzip.EXE"" -c -d -- .\zippedData\imdb.title.crew.csv.gz > Movie_Data\imdb.title.crew.csv
patool:     with shell=True
patool: ... .\zippedData\imdb.title.crew.csv.gz extracted to `Movie_Data'.

In [11]:
# open the data
title_basics = pd.read_csv('.\Movie_Data\\imdb.title.basics.csv')
name_basics = pd.read_csv('.\Movie_Data\\imdb.name.basics.csv')
#gross = pd.read_csv('.\Movie_Data\\bom.movie_gross.csv')
#rt = pd.read_csv('.\Movie_Data\\rt.movie_info.tsv', sep='\t')
#title_aka = pd.read_csv('.\Movie_Data\\title.akas.csv')
title_crew = pd.read_csv('.\Movie_Data\\imdb.title.crew.csv')
title_rate = pd.read_csv('.\Movie_Data\\imdb.title.ratings.csv')
title_prin = pd.read_csv('.\Movie_Data\\imdb.title.principals.csv')
#tm_movies = pd.read_csv('.\Movie_Data\\tmdb.movies.csv')
budgets = pd.read_csv('.\Movie_Data\\tn.movie_budgets.csv')

In [6]:
# since we are interested in modern trends, we exclude data from over 25 years ago.
budgets['release_date'] = pd.to_datetime(budgets['release_date'])
budgets = budgets.loc[budgets['release_date'] > '1995-1-1']

# remove duplicate titles
budgets = budgets.drop_duplicates(subset='movie')

# a function for turning money data into integer
def money_to_float(dataframe, column_name):
    dataframe[column_name] = dataframe[column_name].map(lambda x: x[1:].replace(',', '') if x[0] == '$' else x).astype(float)

# applying this function to the information about budgets in order to find out which movies turned the biggest profits
money_to_float(budgets, 'production_budget')
money_to_float(budgets, 'worldwide_gross')
money_to_float(budgets, 'domestic_gross')

#creating a column for net profits, as opposed to just gross, then displaying the top 5 profit-making movies
budgets['net'] = budgets['worldwide_gross'] - budgets['production_budget']
budgets.sort_values('net', ascending=False).head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,net
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09
42,43,1997-12-19,Titanic,200000000.0,659363944.0,2.208208e+09,2.008208e+09
6,7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,1.748134e+09
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,1.747311e+09
33,34,2015-06-12,Jurassic World,215000000.0,652270625.0,1.648855e+09,1.433855e+09

In [4]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [24]:
title_basics.drop_duplicates(subset='primary_title')

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [12]:
len(budgets)

4966

In [17]:
prim = title_basics.rename(columns={'primary_title': 'movie'}).merge(budgets, on='movie')
orig = title_basics.rename(columns={'original_title': 'movie'}).merge(budgets, on='movie')

In [18]:
len(prim), len(orig)

(3405, 3188)

In [19]:
len(prim.drop_duplicates(subset='movie'))

2201

In [20]:
len(orig.drop_duplicates(subset='movie'))

2168

In [39]:
len(title_crew.merge(title_basics, on='tconst'))

146144

In [36]:
crews = crews.drop_duplicates(subset='original_title')

In [38]:
len(crews)

137774

In [40]:
crews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137774 entries, 0 to 146142
Data columns (total 8 columns):
tconst             137774 non-null object
directors          132502 non-null object
writers            103665 non-null object
primary_title      137774 non-null object
original_title     137773 non-null object
start_year         137774 non-null int64
runtime_minutes    107920 non-null float64
genres             132758 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 9.5+ MB

In [42]:
crews = crews.rename(columns={'original_title': 'movie'})
crews = crews.drop_duplicates(subset='movie')

directors = crews.set_index('movie').directors.str.split(',',
            expand=True).stack().reset_index(level=1, 
            drop=True).to_frame('directors').reset_index()

# take this and add in the movie names and budgets
directors = directors.rename(columns={'directors': 'nconst'}).merge(name_basics, on='nconst').merge(budgets, 
                                        on='movie').drop(['id', 'death_year', 'birth_year', 'known_for_titles'], axis=1)

In [43]:
directors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2395 entries, 0 to 2394
Data columns (total 9 columns):
movie                 2395 non-null object
nconst                2395 non-null object
primary_name          2395 non-null object
primary_profession    2392 non-null object
release_date          2395 non-null datetime64[ns]
production_budget     2395 non-null float64
domestic_gross        2395 non-null float64
worldwide_gross       2395 non-null float64
net                   2395 non-null float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 187.1+ KB

In [ ]:
directors.loc[directors['primary_name'] == 'Christopher Nolan'], directors.loc[directors['primary_name'] == 'Marilyn Barnes']

In [44]:
writers = crews.set_index('movie').writers.str.split(',',
            expand=True).stack().reset_index(level=1, 
            drop=True).to_frame('writers').reset_index()

# we take this and add in the movie names and budgets
writers = writers.rename(columns={'writers': 'nconst'}).merge(name_basics, on='nconst').merge(budgets, 
                                         on='movie').drop(['id', 'death_year', 'birth_year', 'known_for_titles'], axis=1)

In [45]:
writers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4617 entries, 0 to 4616
Data columns (total 9 columns):
movie                 4617 non-null object
nconst                4617 non-null object
primary_name          4617 non-null object
primary_profession    4615 non-null object
release_date          4617 non-null datetime64[ns]
production_budget     4617 non-null float64
domestic_gross        4617 non-null float64
worldwide_gross       4617 non-null float64
net                   4617 non-null float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 360.7+ KB

In [48]:
writers['primary_name'].value_counts()

Jack Kirby                  18
Stan Lee                    17
Nicholas Stoller            10
Luc Besson                   9
Oren Peli                    7
                            ..
Duncan Jones                 1
Gerard Michael MacCarthy     1
Karyn Bosnak                 1
Steven Summers               1
Quentin Dupieux              1
Name: primary_name, Length: 3460, dtype: int64

In [ ]:
experienced_directors.loc[experienced_directors['primary_name'] == 'Pierre Coffin']

In [60]:
writers[writers['primary_name'] == 'Joe Simon']

,movie,nconst,primary_name,primary_profession,release_date,production_budget,domestic_gross,worldwide_gross,net
244,Spider-Man: Homecoming,nm0800209,Joe Simon,"writer,miscellaneous",2017-07-07,175000000.0,334201140.0,8.801664e+08,7.051664e+08
467,Captain America: Civil War,nm0800209,Joe Simon,"writer,miscellaneous",2016-05-06,250000000.0,408084349.0,1.140069e+09,8.900694e+08
476,Avengers: Age of Ultron,nm0800209,Joe Simon,"writer,miscellaneous",2015-05-01,330600000.0,459005868.0,1.403014e+09,1.072414e+09
507,Captain America: The Winter Soldier,nm0800209,Joe Simon,"writer,miscellaneous",2014-04-04,170000000.0,259746958.0,7.144019e+08,5.444019e+08
522,Captain America: The First Avenger,nm0800209,Joe Simon,"writer,miscellaneous",2011-07-22,140000000.0,176654505.0,3.705698e+08,2.305698e+08
528,Avengers: Infinity War,nm0800209,Joe Simon,"writer,miscellaneous",2018-04-27,300000000.0,678815482.0,2.048134e+09,1.748134e+09

In [50]:
writer_film_count = pd.DataFrame(writers['primary_name'].value_counts()).reset_index().rename(columns={'index': 'name', 'primary_name': 'film_count'})
experienced_writer_list = list(writer_film_count.loc[writer_film_count['film_count'] >= 4]['name'])
experienced_writers = writers.loc[writers['primary_name'].isin(experienced_writer_list)].copy()

In [54]:
experienced_writers.groupby('primary_name').mean().sort_values('net', ascending=False).head(20)

,production_budget,domestic_gross,worldwide_gross,net
primary_name,,,,
Joe Simon,2.276000e+08,3.860847e+08,1.092726e+09,8.651259e+08
Joss Whedon,2.214000e+08,3.383457e+08,9.118963e+08,6.904963e+08
Ken Daurio,7.160000e+07,2.721347e+08,7.257635e+08,6.541635e+08
Cinco Paul,7.160000e+07,2.721347e+08,7.257635e+08,6.541635e+08
Larry Lieber,1.728571e+08,2.986501e+08,8.217433e+08,6.488861e+08
Suzanne Collins,1.237500e+08,3.628846e+08,7.395883e+08,6.158383e+08
Christopher Markus,1.701429e+08,2.691322e+08,7.738914e+08,6.037486e+08
Stephen McFeely,1.701429e+08,2.691322e+08,7.738914e+08,6.037486e+08
Derek Connolly,1.391500e+08,2.550849e+08,7.163530e+08,5.772030e+08
Chris McKenna,1.187500e+08,2.827773e+08,6.946168e+08,5.758668e+08
Erik Sommers,1.187500e+08,2.827773e+08,6.946168e+08,5.758668e+08
Stan Lee,1.969765e+08,2.805640e+08,7.726438e+08,5.756673e+08
Jack Kirby,2.013111e+08,2.858651e+08,7.707022e+08,5.693911e+08
Steve Ditko,1.900000e+08,2.579319e+08,7.558644e+08,5.658644e+08
Christopher Nolan,1.950000e+08,2.819694e+08,7.508360e+08,5.558360e+08
Peter Jackson,2.125000e+08,2.081103e+08,7.520589e+08,5.395589e+08
Fran Walsh,2.125000e+08,2.081103e+08,7.520589e+08,5.395589e+08
Philippa Boyens,2.125000e+08,2.081103e+08,7.520589e+08,5.395589e+08
Ehren Kruger,1.712500e+08,1.880691e+08,6.851862e+08,5.139362e+08
Bob Kane,2.262500e+08,2.958185e+08,7.296362e+08,5.033862e+08

In [ ]:
rate_and_profit = rate_and_profit.drop_duplicates(subset='movie').dropna(subset=['genres'])

In [ ]:
# begin by bringing in the crews info for each monvie
crews = title_crew.merge(title_basics, on='tconst')
crews = crews.rename(columns={'original_title': 'movie'})

# expand the directors for which there are multiple directors
writers = crews.set_index('movie').writers.str.split(',',
            expand=True).stack().reset_index(level=1, 
            drop=True).to_frame('writers').reset_index()

# # take this and add in the movie names and budgets
writers = writers.rename(columns={'writers': 'nconst'}).merge(name_basics, on='nconst').merge(budgets, 
                                         on='movie').drop(['id', 'death_year', 'birth_year', 'known_for_titles'], axis=1)

# we don't want to just sum earnings, since that would bias us towards those with the most movies, even if their movies were not
# consistently good. But if we use the mean, we risk being biased to new directors with just one good movie. So we filter out 
# newer directors and only then find the mean. This gives us the mean for experienced directors only.
writer_film_count = pd.DataFrame(writers['primary_name'].value_counts()).reset_index().rename(columns={'index': 'name', 'primary_name': 'film_count'})
experienced_writer_list = list(writer_film_count.loc[writer_film_count['film_count'] >= 4]['name'])
experienced_writers = writers.loc[writers['primary_name'].isin(experienced_writer_list)].copy()
top_10_writers = experienced_writers.groupby('primary_name').mean().sort_values('net', ascending=False).reset_index().head(10)

In [ ]:
top_10_writers

In [ ]:
len(writers)

In [ ]:
experienced_writer_list[:10]

In [ ]:
len(experienced_writer_list)